<?xml version='1.0' encoding='utf-8'?>
<widget id="club.garage95" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Garage 95</name>
    <description>
        Garage 95 - o clube da cultura automotiva.
    </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <icon density="ldpi" src="resources/android/icon.png" />
        <icon density="mdpi" src="resources/android/icon.png" />
        <icon density="hdpi" src="resources/android/icon.png" />
        <icon density="xhdpi" src="resources/android/icon.png" />
        <icon density="xxhdpi" src="resources/android/icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon.png" />
    </platform>
</widget>
